name: CI

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Show docker info (debug)
        run: |
          docker version
          docker info


      - name: Run tests
        env:
          TESTCONTAINERS_RYUK_DISABLED: "true"
          TESTCONTAINERS_LOG_LEVEL: "INFO"
        run: mvn clean verify
